﻿@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    culture = (culture == "ru-ru") ? "ru" : culture;
}
@helper Selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

@using (Html.BeginForm("SetCulture", "Home", FormMethod.Post, new { id = "languageSelect" }))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle menuLang" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="lang-sm lang-lbl" lang="@culture"></span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu languageSelect" role="menu">
                <li role="presentation">
                    <a href="#" class="language" rel="ru">
                        <label for="ru">
                            <input name="culture" id="ru" value="ru" type="radio" @Selected("ru", culture)/>
                            <span class="lang-sm lang-lbl" lang="ru"></span> Русский
                        </label>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#" class="language" rel="ru">
                        <label for="en">
                            <input name="culture" id="en" value="en" type="radio" @Selected("en", culture)/>
                            <span class="lang-sm lang-lbl" lang="en"></span> English
                        </label>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
}