﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.lang-sm {
  background-position: 0 -1172px;
  min-width: 22px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url(/Content/images/languages.png);
}

.lang-sm {
  top: 1px;
  position: relative;
}

.menuLang .lang-sm {
    top: 3px;
}

.lang-sm[lang=en] {
  background-position: 0 -596px;
}

.lang-sm[lang=ru] {
  background-position: 0 -996px;
}

.languageSelect input[type=radio] {
    display:none;
}

#game {
    width: 700px;
}

#game li {
  float: left;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
  color: #ccc;
}
.span1 {
  width: 60px;
}

#game .o, #game .x {
  color: #fff;
}

.log {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 220px;
  overflow-y: scroll;
  padding: 10px;
    margin-bottom: 20px;
}

.p-info {
    padding: 15px;
    margin-bottom: 15px;
}