﻿@{
    ViewBag.Title = Resources.Title;
}

    


<div class="row">

    
    <div class="col-xs-12 col-md-8">
        <h2>@Resources.Game</h2>
        <input type="hidden" id="displayname" value="@User.Identity.Name" />

        <div class="log" id="logDiv">
            <ul class="list-unstyled" id="log"></ul>
        </div>

        <p class="bg-success p-info" style="display: none" data-bind="visible: isGameStarted() && isMyTurn()">@Resources.YourTurn</p>
        <p class="bg-warning p-info" style="display: none" data-bind="visible: isGameStarted() && !isMyTurn()">@Resources.AnotherTurn</p>

        <ul class="row" id="game">
            @for (int x = 0; x < 7; x++)
            {
                for (int y = 0; y < 8; y++)
                {
                    <li class="btn span1 btn-default" id="cell@(x)@(y)" data-coordx="@(x)" data-coordy="@(y)" data-bind="click: makeTurn.bind($data, '@x@y')">+</li>
                }
            }
        </ul>
</div>


    <div class="col-xs-6 col-md-4">
        <h2>@Resources.ConnectedUsers</h2>

        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>@Resources.Username</th>
                    <th>@Resources.Status</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: users">
                <tr>
                    <td data-bind="text: username"></td>
                    <td data-bind="visible: username != $root.currentUser">
                        <button class="btn btn-xs btn-success" style="display: none" data-bind="visible: state == gameState.waitingForGame, click: $parent.inviteUserToPlay">@Resources.WaitingForGame</button>
                        <button class="btn btn-xs btn-warning" style="display: none" data-bind="visible: state == gameState.inGame">@Resources.InGame</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>



</div>


@section scripts {
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Game.js"></script>
}